{% extends './base.html.twig' %}

{% block body %}
    <h1>Page non definie</h1>

    <p>
        Page demandée non trouvée <a href="{{ path('home_page') }}">retour à la page d'accueil</a>.
    </p>
{% endblock %}
